* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    margin-top: -10%;
    text-shadow: 0 0 10px #011638;
}

.container1 {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./thought-catalog-o0Qqw21-0NI-unsplash.jpg);
    background-size: cover;
}

.container2 {
    background: #011638;
    height: 100vh;
    display: flex;
    flex-direction: row;
    color: antiquewhite;
}

.container3 {
  background: #011638;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar-links {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    background: transparent;
    position: absolute;
    margin-top: 5%;
    left: -50%;
    width: 10vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    gap: 20px;
    font-family: sans-serif;
    transition: all 0.3s linear;
    gap: 50px;
  }
  
  .navbar-links.active {
    top: 0;
    left: 0;
  }
  
  .navbar-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    font-size: 30px;
    background: transparent;
    border: none;
    outline: none;
    padding: 30px;
    color: black;
    margin-right: -5%;
    text-shadow: 0 0 5px #011638;
  }
  .navbar-links a {
    color: black;
    font-size: 30px;
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    text-shadow: 0 0 5px #011638;
  }
  
  .navbar-links li {
    color: black;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 0 0 5px #011638;
    flex-direction: column;
  }
  
  .navbar-links.active {
    top: 0;
    left: 0;
  }
  
  .navbar-links :hover {
    transition: 0.3s ease-in;
    color: #011638;
  }
  
  .navbar-button :hover {
    transition: 0.3s ease-in;
    color: #011638;
  }

  a {
    color: antiquewhite;
  }


#Contact {
  background-color: #1e1e1e;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding-left: 0%;
  padding-bottom: 100px;
  color: white;
  font-size: 20px; 
}

.header1 {
  padding-top: 10px;
  margin-bottom: -100px;
}

.header1 span {
  color: #a6a7a8;
  font-size: 15px;
}

img {
  width: 40vw;
  height: 100vh;
}

.image {
  width: 40vw;
  height: 80vh;
  margin-top: 80px;
  margin-bottom: 0px;
  margin-left: -20%;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 10px;
  margin-bottom: 5%;
  margin-top: -5%;
}

.contact-icons i {
  font-size: 20px;
  color: #011638;
  margin-bottom: 10px;
}

label {
  display: none;
}

#form .contact-input {
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70vh;
  height: 70vh;
}

.contact-info input {
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0.18);
}

.contact-message input {
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0.18);
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-bottom: 20px;
}
.contact-bar {
  width: 30vh;
  height: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contact-form {
  margin-top: -80px;
}

.contact-button {
  width: 10vw;
  height: 4vh;
  background-color: #011638;
  border: #011638;
  margin-top: 10px;
  color: antiquewhite;
}

.phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #2e3339;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  overflow: hidden;
  height: 15vh;
  width: 15vw;
  margin-right: 0px;
}

.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #2e3339;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  overflow: hidden;
  height: 15vh;
  width: 15vw;
  margin-left: 25px;
  margin-right: 25px;
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #2e3339;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  overflow: hidden;
  height: 15vh;
  width: 15vw;
  margin: 0px;
}

.form {
  display: flex;
  flex-direction: row;
}

button {
  width: 20%;
  border-radius: 100px;
  padding: 1%;
  margin-bottom: 2%;
  font-weight: bolder;
}

.top {
  font-size: 13px;
  background:#011638;
  width: 80px;
  border: #011638;
  border-radius: 100px;
  display: flex;
  color: rgb(119, 69, 4);
  justify-content: center;
}

.back{
  display: flex;
  justify-content: end;
  background-color: #1e1e1e;
  padding-right: 20px;
}
